In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\devap\appdata\local\programs\python\python311\lib\site-packages (8.0.33)Note: you may need to restart the kernel to use updated packages.

Collecting protobuf<=3.20.3,>=3.11.0 (from mysql-connector-python)
  Downloading protobuf-3.20.3-py2.py3-none-any.whl (162 kB)
                                              0.0/162.1 kB ? eta -:--:--
     -------                                 30.7/162.1 kB 1.3 MB/s eta 0:00:01
     ----------------------                  92.2/162.1 kB 1.1 MB/s eta 0:00:01
     ---------------------------          122.9/162.1 kB 901.1 kB/s eta 0:00:01
     ------------------------------------ 162.1/162.1 kB 973.6 kB/s eta 0:00:00
Installing collected packages: protobuf
Successfully installed protobuf-3.20.3

In [2]:
import mysql.connector

connection = mysql.connector.connect(
    host  = "localhost",
    user = "root",
    password = "password",
    database = "wiley_edge_c361"
)
cursor = connection.cursor()
create_table = """CREATE TABLE IF NOT EXISTS students7890 (id int not null primary key,name VARCHAR(255), age INTEGER(10))"""

cursor.execute(create_table)
print("Table created successfully")

insert_query = "INSERT INTO students7890 (id,name, age) VALUES (%s,%s, %s)"
data = [(1,"John", 21),(2,"hi",34),(3,"hello",45),(4,"bye",56),(5,"good",67),(6,"bad",78),(7,"nice",89),(8,"bad",90),(9,"good",100),(10,"bad",110)]
cursor.executemany(insert_query, data)

connection.commit()

select_query = "SELECT * FROM users789"
cursor.execute(select_query)

rows = cursor.fetchall()


for row in rows:
    print(row)

connection.commit()
cursor.close()
connection.close()

('MY OSSU Journey', 4545454545, 'dev.a.preetham5@gmail.com', 'india', 232323232323, '2112122112')
('Pretham', 4545454545, 'Preethamdev25@gmail.com', 'India', 454545454545, '4545454555')